@import url('https://fonts.googleapis.com/css?family=Gudea:400,400i,500,500i,600,600i,700,700i');
/**
 *
 * - PopojiCMS Style
 *
 * - File : login.css
 * - Version : 1.0
 * - Author : Jenuar Dalapang
 * - License : MIT License
 *
 *
 * Ini adalah file style PopojiCMS yang memuat semua style login.
 * This is a file style from PopojiCMS which contains all login style.
 *
*/

body {
    font-family: "Gudea", arial, helvetica; 
}

#login {
    padding-top: 70px;
	margin-bottom: 50px;
}

#login .form-wrap {
	width: 100%;
    margin: 20px auto;
	padding: 20px 30px 40px;
	background-color: #fbfbfb;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.04);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.04);
}

@media (max-width: 767px) {
	#login {
		padding-top: 50px;
	}

    #login .form-wrap {
		width: 100%;
		margin: 0 auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    #login .form-wrap {
		width: 50%;
		margin: 0 auto;
	}
}

@media(min-width:992px) {
    #login .form-wrap {
		width: 35%;
		margin: 0 auto;
	}
}

#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.logo {
    margin-bottom: 20px; 
}

#login .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}

#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}

#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
	outline: none;
}

.form-control {
    color: #212121;
}

.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}

#footer a {
    color: inherit;
}